.tit 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	}

thead 
	{
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 16px;
	  color: #FFFFFF;
	  font-weight: bold; 
	  text-align: center;
	  border-color: #FFFFFF; 	 
          background-color: #333333;
	}

tbody tr:hover td, tfoot tr:hover td
{
    background-color: #F3F3F3;  
}

tfoot 
{
text-align: left;
}

.prod 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #333333;
	}

h1 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #990000;
	text-align: center;
	}

.catalogo 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	}

.tablaCarritoDeCompras
			{
			width: 100%;
			border: 1px solid #000000;
			text-align: center;	
			}

.tablaCatalogoProductos
			{
			width:500px;
			margin: auto;
			border: 1px solid #000000;
			}


