/* CSS Document */
body{
margin:0px;
}
.menu-sup{
background-color:#CCCCCC;
}

ul{
margin:0px;
}
li{
list-style-type:none;
float:left;
padding:20px;
padding-right:40px;

}

.marcada{
background-color:#FF0066;
}

.titulo{
padding-top:10px;
background-color:#999999;
text-align:center;
}

.cuerpo{
background-color:#000000;
height:300px;;
}

.abajo-izq{
background-color:#FFCCFF;
padding:20px;
padding-left:70px;
font:bold;

}

.footer{
text-align:center;
padding:20px;
background-color:#CCCCCC;
}

span{
color:#FF0000;
}

.abajo-der{
background-color:#666666;


}
