/* CSS Document */
body{
background-color:#333333;
}
.cabecera{
background-color:#FFCC66;
padding:20px;
padding-right:0px;

}

span{

padding-left:opx;
font:bold;
font-size:22px;
}
ul{
margin:0px;
}
li{
float:left;
list-style:none;
}

.menu{
padding-left:100px;
}

.lateral a{
color:#FFCC66;
}

h3{
color:#FFFFFF;
font:bold;
}



img{
border:10px solid;
border-color:#1A1A1A;
}

.lateral{
width:200px;
padding-left:20px;
}

.cuerpo{
padding-left:10px;
color:#DBDBDB;
width:100px;
}


a:hover { text-decoration: none }

button{
margin:0px;
background-color:#FFCC66;
padding-top:10px;
padding-bottom:10px;
}