/* CSS Document */

.cabecera{
background-image:url(Puesta%20de%20Sol.jpg);
height:100px;
color:#0033CC;
width:100%;
}

.lateral{
background-color:#FFCCFF;
width:20%;
float:left;
height:300px;
}

.cuerpo{
background-color:#999999;
width:50%;
float:left;
height:300px;
}
.otro{
background-color:#FFCC99;
width:30%;
float:left;
height:300px;
}

.pie{
background-color:#CC0099;
width:100%;
}
