/* CSS Document */

table{
width:100%;
}


.superior{

background-color:#0000CC;
}

h1{
color:#FFFFFF;
}
.lateral{
background-color:#FFFF33;
}

.menu{
color:#0000FF;
}

.centro{
background-color:#009900;
}

.cuerpo{
color:#00FFFF;
}

.cuerpo2{
color:#FF99FF;
}

.abajo{
background-color:#66FFCC;
color:#0000CC;
}