/* CSS Document */

.contenedor{
width:100%;
}

.cabecera{
background-color:#FF0000;
color:#FFFFFF;
padding:30px;
}

.lateral{
background-color:#999999;
width:15%;
float:left;
height:450px;
}

ul{
margin:10px;
}
li{
margin:0px;
background-color:#CCCCCC;
border:1px solid;
padding:4px;
width:120px;
font:bold;
border-color:#000000;
list-style:none;
}

.contenido{
background-color:#0000FF;
color:#FFFFFF;
float:left;
width:85%;
height:450px;
font-size:20px;

}
h2{
color:#FFCC00;
margin:10px;
}

p{
margin:10px;
}

.pie{
background-color:#FF0000;
width:100%;
clear:both;
color:#0000FF;
text-align:center;
padding-top:5px;

}

img{
margin-top:250px;
width:100px;
height:60px;
}

a{
color:#33FF00;
text-align:center;
}
