/* CSS Document */

table{

}

.table-lateral{
margin-top:0px;
margin-left:20px;
width:120px;
text-align:center;
background-color:#CCCCCC;
border:2px solid;
border-color:#000000;

}

.campos{
border-color:#000000;
}

.superior{
background-color:#FF0000;
}

h1{
color:#FFFFFF;
padding:30px;
}

.lateral{
background-color:#999999;
width:15%;
}

.cuerpo{
background-color:#0000FF;
color:#FFFFFF;
font-size:20px;
}

h2{
color:#FFFF00;
}

.abajo{
background-color:#FF0000;
padding:5px;
text-align:center;
color:#0000FF;
}

img{
width:70px;
height:30px;
}

.cerrar{
margin:3px;
text-align:center;
color:#00FF00;
}